.header {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
}

.navegacion {
    text-align: right;
}

.nav_item {
    font-weight: 700;
    color: #444444;
    display: inline-block;
	position: relative;
    text-decoration: none;
    font-size: 1.3em;
}

.nav_item:visited, .nav_item:hover {
    color: #444444;
}

.nav_item:after {
    content: '';
    position: absolute;
    margin-bottom: -10px;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 8px solid #444444;
    transition: 0.4s;
}

.nav_item:hover:after {
    width: 100%;
}

@media (max-width: 575.98px) {
    .navegacion {
        text-align: left;
    }
}