{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <br>
		<p class="back-to-posts"><a href="/proyectos/">{{ i18n "backToPosts" }}</a></p>
            </div>
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ if .Site.Params.gitalk }}
            <div id="gitalk-container"></div>
            <script type="text/javascript">
                const gitalk = new Gitalk({
                  clientID: "{{ .Site.Params.gitalk_clientID }}",
                  clientSecret: "{{ .Site.Params.gitalk_clientSecret }}",
                  repo: "{{ .Site.Params.gitalk_repo }}",
                  owner: "{{ .Site.Params.gitalk_owner }}",
                  admin: {{ .Site.Params.gitalk_admin }},
                  // facebook-like distraction free mode
                  distractionFreeMode: true
                })
                gitalk.render('gitalk-container')
            </script>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
